.card {
	background: #045256;
	border: 1px solid #DDF7F8;
	color: rgba(250, 250, 250, 0.8);
	margin: 2rem;
  }
  
  .btn {
	border: 5px solid;
	border-image-slice: 1;
	background:#DDF7F8 !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	border: 5px solid #fff !important;
	text-decoration: none;
	transition: all .4s ease;
  }
  
  .btn:hover, .btn:focus {
		background:#DDF7F8 !important;
	-webkit-text-fill-color: #0B1516 !important;
	border: 5px solid #fff !important; 
	box-shadow: #0B1516 1px 0 10px;
	text-decoration: underline;
  }